<link href="registro.component.css" rel="stylesheet" />
<link href="https://firebasestorage.googleapis.com/v0/b/msc-coveicydet.appspot.com/o/styles.css?alt=media&token=5cb58561-558c-414b-893e-b2cedcf41969" rel="stylesheet" />
<div class="main_div">
    <form class="register_form" (submit)="submitForm()">
        <h1>Registro</h1>
        
        <div class="input_div form-group">
            <input
                [(ngModel)] = "user.nombre"
                name = "nombre"
                type="text"
                class="form_input mayuscula" 
                id="nombre_input"
                placeholder="Nombre"
                maxlength="30"
                required
            />

            <input
                [(ngModel)] = "user.apellidoPaterno"
                name = "apellidoPaterno"
                type="text"
                class="form_input mayuscula" 
                id="apellidoPaterno_input"
                placeholder="Apellido Paterno"
                maxlength="30"
                required
            />
            
            <input
                [(ngModel)] = "user.apellidoMaterno"
                name = "apellidoMaterno"
                type="text"
                class="form_input mayuscula" 
                id="apellidoMaterno_input"
                placeholder="Apellido Materno"
                maxlength="30"
                required
            />
        </div>

        <div class="input_div">
            <input
                [(ngModel)] = "user.rfc"
                name = "rfc"
                type="text"
                class="form_input" 
                id="rfc_input"
                placeholder="RFC"
                maxlength="13"
                required
            />
            
            <input
                [(ngModel)] = "user.email"
                name = "email"
                type="email"
                class="form_input" 
                id="email_input"
                placeholder="Correo electronico"
                maxlength="50"
                required
            />
            
            <input
                [(ngModel)] = "user.emailConfirm"
                name = "emailConfirm"
                type="email"
                class="form_input" 
                id="emailConfirm_input"
                placeholder="Confirmar correo electronico"
                maxlength="50"
                required
            />
        </div>

        <div class="input_div">
            
            <input
                [(ngModel)] = "user.password"
                name = "password"
                type="password"
                class="form_input" 
                id="password_input"
                placeholder="Contraseña"
                maxlength="20"
                required
            />
            
            <input
                [(ngModel)] = "user.passwordConfirm"
                name = "passwordConfirm"
                type="password"
                class="form_input" 
                id="passwordConfirm_input"
                placeholder="Confirmar contraseña"
                maxlength="20"
                required
            />
        </div>

        <div class="button_div">
            <button type="submit"  class="btn btn_success">Aceptar</button>
        </div>
        <div class="button_div">
            <p>¿Ya esta registrado? <a routerLink="/login">Ingrese aqui</a></p>
        </div>
    </form>
</div>